@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300;400&display=swap');

main {
  margin: 0 auto;
}

:root {
  --gunmetal: #022b3aff;
  --metallic-seaweed: #1f7a8cff;
  --beau-blue: #bfdbf7;
  --lavender-web: #e1e5f2ff;
  --white: #ffffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.titles {
  text-align: center;
}

header {
  background: var(--gunmetal);
  height: 125px;
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.nav-row {
  display: flex;
  justify-content: center;
}

.navInactive,
.navActive {
  text-decoration: none;
}

.navListItem {
  list-style-type: none;
  font-size: 2em;
  margin: 0, 10, 0, 10;
}

a {
  color: var(--beau-blue);
}

.navActive:hover,
.navInactive:hover {
  color: var(--metallic-seaweed);
  transition: 0.5s;
}
